{# templates/partials/footer.twig (Ultra-Simplified) #}
<footer>
    <p>
        <strong>Expertise Tax LLC</strong>
        <small>You don't have to be a tax expert. That's our job.</small>
        <span>&copy; {{ "now"|date("Y") }} All rights reserved.</span>
    </p>
    <p>
        <a href="mailto:oksana@expertisetax.com">Email</a> |
        <a href="https://www.expertisetax.com" target="_blank">Web</a> |
        <span>617-352-5993</span>
    </p>
</footer>